/cache
cache
**/cache
out
**/out
/data
data
**/data
/node_modules
node_modules
**/node_modules
/build
build
**/build
/dist
dist
**/dist
**/dist-newstyle
/.env
**/.env
*.env
lerna-debug.log
lcov.info
.envrc

*.ignore.*
yarn-error.log
package-lock.json
.DS_Store
.idea


.vscode/
*-workspace
.npmrc

/coverage.json
/coverage
/.coverage_*
/reports
/artifacts
/cache
/docs/api
/typechain-types
/dev-scripts/**/*.d.ts
/dev-scripts/**/*.d.ts.map
/.gas-snapshot
/packages
/testing-benchmark.json
